<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css')}}">
    <link rel="shortcut icon" type="image/jpg" href="{{ url_for('static', filename='css/favicon.jpg')}}">
    <title>Image Classifier</title>
  </head>
  <body>
    <div>
      <h2>Image Classifier</h2>
      <form id="form" method="post" enctype="multipart/form-data" action="/predict">
        <label for="image">Bitte Bild zum Klassifizieren auswählen:</label>
        <br>
        <button class="button" onclick="document.getElementById('image').click()">Bild auswählen</button>
        <hr>
        <input type="file" id="image" name="image">
        <div id="image-container">
          <img id="uploaded-image" src="#" alt="Uploaded Image" />
        </div>
        <hr>
        <input type="submit" value="Klassifizieren" class="button" onclick="showAnswer()">
        <br>
        <h3 style="display:none">Dein Bild wurde klassifiziert als...</h3>
        <p id="predicted_class" style="display:none"></p>
        
        <button class="button" onclick="location.reload()">Restart</button>
      </form>
    </div>
    

  </body>
  <script src="../static/js/script.js"></script>
</html>
